<footer class="ui centered grid segment">
    <nav class="ui row">
        <a href="http://www.facebook.com/witcomp"><i class="facebook icon"></i></a>
        <a href="http://twitter.com/ComputingAtWIT"><i class="twitter icon"></i></a>
        <a href="https://ie.linkedin.com/pub/computing-at-wit/a9/221/1b6"><i class="linkedin icon"></i></a>
    </nav>
</footer>