<header class="ui two column center aligned middle aligned stacked grid segment">
    <div class="ui column">
        <h2 class="ui header"> Department of Computing &amp; Mathematics </h2>
        <nav class="ui one item menu">
            <a class="header item" href="../index.html">BSc (Hons) the Internet of Things</a>
        </nav>

    </div>
    <div class="ui column">
        <p>
            <img class="ui medium image" src="../assets/images/wit-crest.png" alt="WIT Crest">
        </p>
    </div>
</header>