<header>
    <h2>
        <img class="header-crest-img" src="/assets/images/wit-crest.png" alt="WIT Crest">
        Department of Computing &amp; Mathematics
    </h2>
    <h3>
        <a href="../index.html"> BSc (Hons) the Internet of Things </a>
    </h3>
    <hr>
</header>