<header class="ui segment">
    <h2>
        <img src="/assets/images/wit-crest.png" alt="WIT Crest">
        Department of Computing &amp; Mathematics
    </h2>
    <h3>
        <a href="../index.html"> BSc (Hons) the Internet of Things </a>
    </h3>
</header>