<section class="ui center aligned stacked stackable grid segment">
    <section class="ui one column row">
        <h4> Supported by leading edge research at... </h4>
    </section>
    <section class="ui three column row">
        <p>
            <section class="ui column">
                <img src="assets/images/tssg.png" alt="TSSG">
            </section>
            <section class="ui column">
                <img src="assets/images/ctrg.png" alt="CTRG">
            </section>
            <section class="ui column">
                <img src="assets/images/automotive.png" alt="ATG">
            </section>
        </p>
    </section>
</section>